$font-main: "Courgette";

.phonetic {
  color: #9e60db;
}

.play-button {
  width: 70px;
  height: 70px;
  background-color: #caa1f0;
  border-radius: 35px;
  font-size: 35px;
  text-align: center;
  border: none;
}

.play-button:hover {
  margin-top: 0px;
  -moz-box-shadow: 0px 0px 4px 1px #caa1f0;
  -webkit-box-shadow: 0px 0px 4px 1px #caa1f0;
  box-shadow: 0px 0px 4px 1px #caa1f0;
  border-radius: 100px;
}

.play-icon {
  color: #9e60db;
}

.part-of-speech {
  font-family: $font-main;
  font-weight: bold;
  font-size: 20px;
}

.divider {
  display: inline-block;
  width: 100%;
  margin-left: 15px;
}

ul {
  list-style: none;
}
ul li::before {
  content: "•";
  font-size: 20px;
  color: #9e60db;
  font-weight: bold;
  display: inline-block;
  width: 20px;
}
