<div class="d-flex">
  <div class="me-auto p-2">
    <h1>
      <b>{{ definition.word | titlecase }}</b>
    </h1>
    <h4 class="phonetic">{{ definition.phonetic | json }}</h4>
  </div>
  <div class="p-2" *ngIf="definition.phonetics">
    <audio id="sound1" src="{{ definition.phonetics }}" preload="auto"></audio>
    <button
      class="play-button"
      onclick="document.getElementById('sound1').play();"
    >
      <i
        class="bi bi-play-fill play-icon"
        onclick="document.getElementById('sound1').play();"
      ></i>
    </button>
  </div>
</div>

<div *ngFor="let meaning of definition.meanings">
  <div class="d-flex mt-3 mb-3">
    <span class="part-of-speech">{{ meaning.partOfSpeech }}</span>
    <hr class="hr divider" />
  </div>
  <p class="text-secondary">Meaning</p>
  <div *ngFor="let definition of meaning.definitions">
    <ul>
      <li>{{ definition.definition }}</li>
    </ul>
    <p *ngIf="definition.synonyms.length > 0">Synonyms</p>
    <p>{{ definition.synonyms }}</p>
  </div>
</div>
