<div class="main-content">
  <app-header></app-header>

  <div class="container-fluid py-3">
    <div class="row my-5">
      <div class="col">
        <div class="input-group search-field d-flex">
          <input
            [formControl]="searchTerm"
            class="form-control rounded input-field"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
            (keydown.enter)="search(searchTerm.value)"
          />
          <i
            class="bi bi-search me-3 ms-1 search-icon"
            (click)="search(searchTerm.value)"
          ></i>
        </div>
        <div *ngIf="searchTerm.getError('noTerm')">
          <p class="text-danger ms-1 mt-1">*Search term cannot be empty</p>
        </div>
      </div>
    </div>
    <app-definition
      *ngIf="definition"
      [definition]="definition"
    ></app-definition>
    <app-definition-error *ngIf="error" [error]="error"></app-definition-error>
  </div>
</div>
