.search-field {
  border: 3px solid #e8e8e8;
  border-radius: 12px;
  background-color: #e8e8e8;
  line-height: 40px;
}

.input-field {
  background-color: #e8e8e8;
  outline: none;
  padding: 0 15px 0 15px;
  border-width: 0;
}

.search-icon {
  color: #9e60db;
  font-size: 17px;
  cursor: pointer;
}
